<%- include('partials/header') %>

<main class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center">// Registrar</h2>
                    <form id="cadastroForm">
                        <div class="form-group">
                            <input type="text" class="form-control" id="username" placeholder="> Nome de Usuário_" required>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" id="email" placeholder="> Email_" required>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="password" placeholder="> Senha_" required>
                        </div>
                        <button type="submit" class="btn btn-block">Criar Conta</button>
                        <p class="text-center mt-3" style="opacity: 0.7;">Já tem uma conta? <a href="/login" style="color: var(--primary-purple);">Faça login</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

<script>
    
    document.getElementById('cadastroForm').addEventListener('submit', (e) => {
        e.preventDefault();
        const username = document.getElementById('username').value;
        const email = document.getElementById('email').value;
        const password = document.getElementById('password').value;

        if (!username || !email || !password) {
            showModal('Erro de Cadastro', 'Todos os campos são obrigatórios!', 'alert');
            return;
        }

        const users = JSON.parse(localStorage.getItem('users')) || [];
        const userExists = users.some(user => user.username === username || user.email === email);
        if (userExists) {
            showModal('Erro de Cadastro', 'Nome de usuário ou email já cadastrado!', 'alert');
            return;
        }

        users.push({ username, email, password });
        localStorage.setItem('users', JSON.stringify(users));

        showModal('Sucesso', 'Cadastro realizado! Você será redirecionado para o login.', 'alert', () => {
            window.location.href = '/login';
        });
    });
</script>

<%- include('partials/footer') %>