<%- include('partials/header') %>

<main class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center">// Login</h2>
                    <form id="loginForm">
                        <div class="form-group">
                            <input type="text" class="form-control" id="identifier" placeholder="> Usuário ou Email_" required>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="password" placeholder="> Senha_" required>
                        </div>
                        <button type="submit" class="btn btn-block">Entrar</button>
                        <p class="text-center mt-3" style="opacity: 0.7;">Não tem uma conta? <a href="/cadastro" style="color: var(--primary-purple);">Cadastre-se</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

<script>
    
    document.getElementById('loginForm').addEventListener('submit', (e) => {
        e.preventDefault();
        const identifier = document.getElementById('identifier').value;
        const password = document.getElementById('password').value;

        if (!identifier || !password) {
            showModal('Erro de Autenticação', 'Todos os campos são obrigatórios!', 'alert');
            return;
        }

        const users = JSON.parse(localStorage.getItem('users')) || [];
        const foundUser = users.find(user => (user.username === identifier || user.email === identifier) && user.password === password);

        if (foundUser) {
            sessionStorage.setItem('loggedInUser', JSON.stringify(foundUser));
            showModal('Login bem-sucedido', 'Acesso permitido. Redirecionando...', 'alert', () => {
                window.location.href = '/tarefas';
            });
        } else {
            showModal('Falha no Login', 'Usuário/Email ou senha inválidos!', 'alert');
        }
    });
</script>

<%- include('partials/footer') %>